<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <title>TWP3</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  <link rel="stylesheet" href="css/style.css">
</head>
 <body>

    <div id="wrapper">
        <div id="header">
            <nav><span><a href="index.html">Шаблоны </a></span> <span><a href="users.html"> Users</a></span></nav>
            
        </div>
        <div id="bars" class="row">
            <div id="revision" v-if="revision">
                <button class="btn-del" v-on:click = "revision = !revision">X</button><hr>
                <div id="noWork" v-if="!curentWork.id">Здесь появятся данные для проверки или результаты если выбрать работу</div>
                <div id="workRevision" v-else>
                    <ul>
                        <li v-for = '(chekItem, idx) in workCheckList'>
                            <span class="fio">{{chekItem.name}} {{chekItem.surname}}</span> 

                            <div id="inputAnswer" v-if="!chekItem.passed">
                            <ol >
                                <li v-for = 'task in chekItem.answers' class="li-inline">
                                    <input class="answerInput" v-on:input = "workPropEdit" type="text" placeholder="Введите ответ"  size="10" v-bind:id = 'task.id' v-bind:name = 'chekItem.studentId'>
                                </li>
                            </ol>
                            <button class="btn-add" v-on:click = "sendAnswers(chekItem.studentId)">Завершить тестирование</button> 
                            </div>

                            <div id="inputAnswer" v-else>
                                <ol >
                                    <li v-for = 'task in chekItem.answers' class="li-inline">
                                        <span v-if = "task.answer == task.rightanswer" class="right-answer">{{task.answer}}</span>
                                        <span v-else class="wrong-answer">{{task.answer}}</span> 
                                        <span> {{task.rightanswer}}</span>
                                    </li>
                                </ol>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div id="sidebar-left">
                <div class="panel">
                    <div class="panel-header">Р А Б О Т Ы</div>
                    <br>
                    <div id="subjectsList">
                        <ul>
                            <span v-if="!allWorks.length">Здесь появится список работ!</span>
                            <li v-for = '(work) in allWorks' v-on:click = 'openWork(work.ID)'> 
                                {{work.name}} 
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <hr>
                </div>
            </div>
            <div id="middle">
                <div class="panel">
                    <div class="panel-header">Управление Р А Б О Т А М И</div>

                    
                    <div  class="row" id = "WorkEditor">

                        <div id="createWork" v-if="!curentWork.id">
                            <p><input type="text" id="workName" placeholder="Введите название работы"  minlength="50" size="90" v-on:input = "workPropEdit" v-bind:value = 'curentWork.name'></p>
                            <p>
                                <label for="workDate">Выберите дату проведения работы:</label>
                                <input type="datetime-local" id="workDate" name="meeting-time" v-on:input = "workPropEdit" value="2018-06-12T19:30">
                            </p>
                            <p>
                                <select name="workGroup" id="workGroup" v-on:input = "workPropEdit">
                                    <option v-for = '(group) in groups':value="group.ID" >{{group.name}}</option>
                                    <option disabled selected>Выберите группу</option>
                                </select>
                            </p>
                            <p>
                                <select name="workTemplate" id="workTemplate" v-on:input = "workPropEdit">
                                    <option v-for = '(template) in templates':value="template.ID" >{{template.title}}</option>
                                    <option disabled selected>Выберите шаблон</option>
                                </select>
                            </p>
                            <hr>
                            <button class="btn-add" v-on:click = "addNewWork">Создать новую работу</button> 
                        </div>

                        <div id="existingWork" v-else>
                            <p><input type="text" id="workName" placeholder="Введите название работы"  minlength="50" size="90" v-on:input = "workPropEdit" v-bind:value = 'curentWork.name'></p>
                            <p>
                                <label for="workDate">Выберите дату проведения работы:</label>
                                <input type="datetime-local" id="workDate" name="workDate" v-on:input = "workPropEdit" v-bind:value = 'curentWork.date'>
                            </p>
                            <p>Group: {{curentWork.group}}</p>
                            <p>Template: {{curentWork.template}}</p>
                            <hr>
                            <button class="btn-add" v-on:click = "">Save changes</button>  <button class="btn-add" v-on:click = "printWork(curentWork.id)">Make LaTeX file</button> 
                            <button class="btn-add" v-on:click = "checkWork">Give answers</button> <button class="btn-del" v-on:click = "deleteWork(curentWork.id)">Delete work</button>
                        </div>

                    </div>
                </div>
            </div>
            <div id="sidebar-right">
                <div class="panel">
                    <div class="panel-header">Правая панель</div>
                    <p><button v-on:click = "testMethod" >Кнопка для тестов</button></p>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>
                When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
                \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
              </p>
        </div>
    </div>



    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="works.js"></script>
 </body>
</html>